.block {
  padding: 20px;
  background-color: rgba(181, 179, 183, 0.23);
}

blockquote {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.56);
  border-radius: 5px;
  margin: 10px 0;
}

// Example 1
.exaple-1 {
  width: 200px;
  height: 100px;
  background-color: blueviolet;
  margin: 10px 0;
}
.example1-enter-active {
  animation: bounce-in .5s;
}
.example1-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
// Example 1 end
