extends ../../base

block title
    title Example Animation

block body
    section.block
        h3 Example 1
        blockquote
            | css animation with @keyframes
            | Animation type = animation
        button#js-btnShow Show
        button#js-btnHide Hide
        .exaple-1#js-example1
