@each $breakpoint in map-keys($gridBreakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $gridBreakpoints);

    .#{$displayPrefix}d#{$infix}-none { display: none !important; }
    .#{$displayPrefix}d#{$infix}-block { display: block !important; }
    .#{$displayPrefix}d#{$infix}-inline { display: inline !important; }
    .#{$displayPrefix}d#{$infix}-inline-block { display: inline-block !important; }
    .#{$displayPrefix}d#{$infix}-table { display: table !important; }
    .#{$displayPrefix}d#{$infix}-table-cell { display: table-cell !important; }
    .#{$displayPrefix}d#{$infix}-table-row { display: table-row !important; }
    .#{$displayPrefix}d#{$infix}-flex { display: flex !important; }
    .#{$displayPrefix}d#{$infix}-inline-flex { display: inline-flex !important; }
    .#{$displayPrefix}d#{$infix}-unset { display: unset !important; }
  }
}
