.#{$textPrefix}text-upper {
  text-transform: uppercase !important;
}

.#{$textPrefix}text-lower {
  text-transform: lowercase !important;
}

.#{$textPrefix}text-underline {
  text-decoration: underline !important;
}

.#{$textPrefix}line-height-normal {
  line-height: 1.5;
}

.#{$textPrefix}text-inherit {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: inherit;
}


@each $breakpoint in map-keys($gridBreakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $gridBreakpoints);

    .#{$textPrefix}text#{$infix}-left { text-align: left !important; }
    .#{$textPrefix}text#{$infix}-right { text-align: right !important; }
    .#{$textPrefix}text#{$infix}-center { text-align: center !important; }
  }
}
