.gc-space-between{
    /*WARNING: This method only works with uncompressed HTML and requires a fixed height on the container and not work with tag ('a', 'span') */
    text-align: justify;
    font-size: 0.04px;

    line-height: 0;
    &::after{
        content: "";
        display: inline-block;
        width: 100%;
    }
    & > :nth-child(n + 1){
        display: inline-block;
        line-height: normal;
    }
}
.gc-child-horizontal-center{
    & > :nth-child(1n + 1) {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
}
