extends ./base.pug

block title
    title Main

block body
    ul
        h4 Example
        li
            a(href='./pages/example.html') Example
        li
            a(href='./pages/example/example.html') Example 2
        li
            a(href='./pages/example/example/example.html') Example 3
        li
            a(href='../arkit.svg') Architecture diagrams
