extends ./base.pug

block title
    title Main

block body
    .o-container
        ul
            li
                a(href='./pages/example.html') Example
            li
                a(href='./pages/grid/index.html') Grid
            li
                a(href='./pages/example/example.html') Example 2
            li
                a(href='./pages/example/example/example.html') Example 3
            li
                a(href='../arkit.svg') Architecture diagrams
