extends ./base.pug

block title
    title Main

block body
    .container
        h3 Grid
        .row
            .col-xs-1
                .card 1
            .col-xs-1
                .card 2
            .col-xs-1
                .card 3
            .col-xs-1
                .card 4
            .col-xs-1
                .card 5
            .col-xs-1
                .card 6
            .col-xs-1
                .card 7
            .col-xs-1
                .card 8
            .col-xs-1
                .card 9
            .col-xs-1
                .card 10
            .col-xs-1
                .card 11
            .col-xs-1
                .card 12
        h4 no gutters
        .row.row_no-gutters
            .col-xs-1
                .card 1
            .col-xs-1
                .card 2
            .col-xs-1
                .card 3
            .col-xs-1
                .card 4
            .col-xs-1
                .card 5
            .col-xs-1
                .card 6
            .col-xs-1
                .card 7
            .col-xs-1
                .card 8
            .col-xs-1
                .card 9
            .col-xs-1
                .card 10
            .col-xs-1
                .card 11
            .col-xs-1
                .card 12
        h4 Example
            .row.row_no-gutters
                .col-lg-3.col-md-6.col-xs-12.order-sm-4.order-md-0
                    .card lg-3 md-6 xs-12 push-xs-2
                .col-lg-3.col-md-6.col-xs-12
                    .card lg-3 md-6 xs-12
                .col-lg-3.col-md-6.col-xs-12
                    .card lg-3 md-6 xs-12
                .col-lg-3.col-md-6.col-xs-12
                    .card lg-3 md-6 xs-12
        h4 space between *(work only uncompressed HTML)
        .row.align-content.align-content-between
            .col-xs-1
                .card Text
            .col-xs-1
                .card Tex
            .col-xs-1
                .card Text
            .col-xs-1
                .card Text
        h4 col offset
            .row
                .col-xs-1
                    .card Left
                .col-xs-1.col-xs-offset-10
                    .card Right
                .col-xs-1
                    .card Text
                .col-xs-1
                    .card Text
        h4 Offsetting columns
            .row
                .col-md-4
                    .card text
                .col-md-4.col-md-offset-4
                    .card text
            .row
                .col-md-3.col-md-offset-3
                    .card text
                .col-md-3.col-md-offset-3
                    .card text
            .row
                .col-md-6.col-md-offset-3
                    .card text
        h4 Column ordering
            .row
                .col-md-9.col-md-push-3
                    .card Left
                .col-md-3.col-md-pull-9
                    .card Right
        h4 align-content
            h5 Start
            .row.align-content.align-content-start
                .col-md-3
                    .card(style='height: 100px;')
                .col-md-3
                    .card(style='height: 200px;')
                .col-md-3
                    .card(style='height: 250px;')
                .col-md-3
                    .card(style='height: 150px;')
            h5 End
            .row.align-content-end
                .col-md-3
                    .card(style='height: 100px;')
                .col-md-3
                    .card(style='height: 200px;')
                .col-md-3
                    .card(style='height: 250px;')
                .col-md-3
                    .card(style='height: 150px;')
            h5 Center
            .row.align-content-center
                .col-md-3
                    .card(style='height: 100px;')
                .col-md-3
                    .card(style='height: 200px;')
                .col-md-3
                    .card(style='height: 250px;')
                .col-md-3
                    .card(style='height: 150px;')
            h5 Stretch
            .row.align-content-stretch
                .col-md-3
                    .card text
                .col-md-3
                    .card Whole every miles as tiled at seven or. Wished he entire esteem mr oh by. Possible bed you pleasure civility boy elegance ham. He prevent request
                        |by if in pleased. Picture too and concern has was comfort. Ten difficult resembled eagerness nor
                .col-md-3
                    .card text
                .col-md-3
                    .card text
            h5 Baseline
            .row.align-content-baseline
                .col-md-3
                    .card(style='height: 100px; padding-top: 20px') text
                .col-md-3
                    .card(style='height: 200px;') Text text
                .col-md-3
                    .card(style='height: 250px; padding-top: 40px') text
                .col-md-3
                    .card(style='height: 150px;') Text
        h4 width evenly
        .row.align-content-evenly
            .col
                .card text
            .col
                .card Whole every miles as tiled at seven or. Wished he entire esteem mr oh by. Possible bed you pleasure civility boy elegance ham. He prevent request
                    | by if in pleased. Picture too and concern has was comfort. Ten difficult resembled eagerness nor
            .col
                .card text
            .col
                .card text
        h4 width evenly no gutters
        .row.align-content-evenly.row_no-gutters
            .col
                .card text
            .col
                .card Whole every miles as tiled at seven or. Wished he entire esteem mr oh by
            .col
                .card text
            .col
                .card Whole every miles as tiled at seven or. Wished he entire esteem mr oh by.
            .col
                .card text
            .col
                .card text
        h4 Example col-2 to col-10
            .row.align-content-evenly
                .col-2
                    .card .col-2
                .col
                    .card .col
                .col-3
                    .card .col-3
                .col
                    .card .col
                .col-4
                    .card .col-4
                .col
                    .card .col-2
            .row.align-content-evenly
                .col-2
                    .card .col-2
                .col-2
                    .card .col-2

        ul
            h4 Example
            li
                a(href='./pages/example.html') Example
            li
                a(href='./pages/example/example.html') Example 2
            li
                a(href='./pages/example/example/example.html') Example 3
            li
                a(href='../arkit.svg') Architecture diagrams
